In [ ]:
#40. Importing Data Into Python

In [1]:
import pandas as pd

In [ ]:
#Method 1: Specify Full Path To File

In [6]:
#Windows:
stats = pd.read_csv('C:\\Users\\shimi\\OneDrive\\Documents\\Udemy\\Udemy_Python-For-Data-Science\\Python A-Z™ - Python For Data Science With Real Exercises!\\05 - Data Frames\\P4-Demographic-Data.csv')
#stats = pd.read_csv('P4-Demographic-Data.csv')

In [7]:
stats

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [ ]:
#Method 2: Change Working Directory

In [3]:
import os

In [4]:
print(os.getcwd())

C:\Users\shimi\OneDrive\Documents\Udemy\Udemy_Python-For-Data-Science\Python A-Z™ - Python For Data Science With Real Exercises!\05 - Data Frames

In [10]:
#Windows
#os.chdir('C:\\Users\\shimi\\OneDrive\\Área de Trabalho')  #Changing of working directory
os.chdir('C:\\Users\\shimi\\OneDrive\\Documents\\Udemy\\Udemy_Python-For-Data-Science\\Python A-Z™ - Python For Data Science With Real Exercises!\\05 - Data Frames')

In [11]:
stats2 = pd.read_csv('P4-Demographic-Data.csv')

In [12]:
stats2

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income